body {
  background-color: #eee;
}

#inspiration {
  height: 400px;
  background-image: url('pictures/beach-background.jpg');
  background-position: center;
}

#details {
  left: 4%;
}

#schedule {
  margin-top: 3vh;
  background-color: rgba(0, 0, 0, 0.7);
}

#schedule label,
#schedule h2 {
  color: white;
}

.list-group {
  position: absolute;
  z-index: 2;
}

#title {
  font-weight: bold;
}

.btn-group {
  margin-top: 86px;
  margin-left: 196px;
}

.btn-default {
  color: white;
  font-size: 18px;
  background-color: rgb(50,178,223);
  border: 1px;
  border-color: black;
}


#behind {
  position: absolute;
}

#stack {
  /*position: absolute;
  top: 100px;*/
  top: -397px;
  right: -100px;
  z-index: 4;
}

#orderComplete {
  right: -100px;
}

.col-md-push-6 {
  left: 28%;
}

.credit-card-div span {
  padding-top:10px;
  }

.credit-card-div .small-font {
  font-size: 9px;
}

.credit-card-div img {
  margin-top:30px;
  width: 60px;
  height: 43px;
}

#cancel {
  margin-top: 30px;
}

#submit {
  margin-top: 30px;
}

.thumbnail {
  width: 150px;
  height: 100px;
  margin-bottom: 5px;
  margin-right: 5px;
}

#order span {
  margin-left: 70px;
}

.panel-primary {
  background-color: aliceblue;
}

p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:valid:focus {
  box-shadow: 0 0 5px 1px green;
}
